/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin: 50px 0;
  color: #333;
}

#output {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 95%;
  gap: 1rem;
}

.brandCard {
  background-color: rgb(155, 155, 155);
  border-radius: 0.5rem;
  text-align: center;
}

.brandName {
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 1px solid black;
  background-color: rgb(180, 180, 180);
}

.modelsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
}

.model {
  margin-bottom: 0.5rem;
  background-color: rgb(145, 145, 145);
}
